header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  height: clamp(
    700px,
    calc(774px + (700 - 774) * ((110vw - 375px) / (1366 - 375))),
    774px
  );
  padding-top: clamp(
    18px,
    calc(18px + (26 - 18) * ((100vw - 375px) / (1366 - 375))),
    26px
  );
  padding-left: clamp(
    20px,
    calc(20px + (72 - 20) * ((100vw - 375px) / (1366 - 375))),
    72px
  );
  background-color: #e9ded4;
  background-image: url("/images/texture.webp");
  background-blend-mode: color-burn;
}

header .logo {
  z-index: 2;
  display: flex;
  gap: 2px;
  align-items: center;
}

header .logo > img {
  width: clamp(
    18.75px,
    calc(18.75px + (21.65 - 18.75) * ((100vw - 375px) / (1366 - 375))),
    21.65px
  );
  height: clamp(
    27px,
    calc(27px + (31.18 - 27) * ((100vw - 375px) / (1366 - 375))),
    31.18px
  );
}

header .logo p {
  margin-left: 4px;
  font-family: "Golos", sans-serif;
  font-size: clamp(
    14.42px,
    calc(14.42px + (16.65 - 14.42) * ((100vw - 375px) / (1366 - 375))),
    16.65px
  );
  font-weight: 700;
  line-height: 16px;
  color: #595653;
  text-transform: uppercase;
}

.description {
  position: relative;
  z-index: 2;
  width: 335px;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Golos", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.btn {
  display: inline-flex;
  flex: 1 1 263px;
  align-items: center;
  justify-content: center;
  min-width: 263px;
  height: 72px;
  padding: 20px 0;
  font-family: "Golos", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
  line-height: 1.3;
  cursor: pointer;
  border-radius: 66px;
  transition: all 0.3s ease;
}

.btn-break {
  display: inline;
}

.btn-support {
  color: #fff;
  background-color: #1f1f1f;
  border: none;
}

.btn-about {
  color: #1f1f1f;
  background-color: transparent;
  border: 2px solid #1f1f1f;
}

.btn-support:hover {
  background-color: #fbce51;
}

.btn-about:hover {
  color: #ffffff;
  background-color: #1f1f1f;
}

.actions {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 100%;
  margin-top: 32px;
}

.content {
  max-width: clamp(
    335px,
    calc(335px + (542 - 335) * ((100vw - 375px) / (1366 - 375))),
    542px
  );
  margin-top: clamp(
    40px,
    calc(40px + (62 - 40) * ((100vw - 375px) / (1366 - 375))),
    62px
  );
  color: #313131;
}

.title {
  position: relative;
  z-index: 2;
  font-family: "Merriweather";
  font-size: clamp(
    36px,
    calc(36px + (60 - 36) * ((100vw - 375px) / (1366 - 375))),
    60px
  );
  font-weight: 400;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
  line-height: 1.111;
  text-transform: uppercase;
}

.title-line {
  display: block;
  text-align: left;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

@media (max-width: 1365px) {
  .btn-about {
    background-color: #fff;
    border: none;
  }

  .btn {
    flex: none;
    width: 100%;
    height: 47px;
    padding: 18px 0;
  }

  .btn-break {
    display: none;
  }
}

@media (min-width: 1366px) {
  .actions {
    flex-wrap: nowrap;
    gap: 16px;
  }

  .description {
    width: 542px;
    text-align: center;
  }

  header .logo {
    top: 26px;
    left: clamp(
      72px,
      calc(72px + (349 - 72) * ((100vw - 1366px) / (1920 - 1366))),
      349px
    );
  }
}
